*.DS_Store

Tools/metadataSection.dot

Tools/peopleOrganizationSection.dot

Tools/humanitarianProfileSection.dot

Tools/hxl.dot

Tools/datetimeSection.dot

Tools/geolocationSection.dot

Tools/responseSection.dot

Tools/shelterClusterSection.dot

Tools/shelterCulsterSection.dot

Tools/situationSection.dot

*.dot.png

*.dot.svg

Vocabulary/*
HXL-Vocab.tmproj

Tools/static.zip
